@{
    ViewBag.Title = "Athon Eventos";
}

<div class="jumbotron" style="background-image: linear-gradient(#e195f4, #f7c050); ">
    <div class="masthead">
        <h1>@ViewBag.Title</h1>
        <p class="lead">
            Amplie seus conhecimentos e impulsione sua carreira! ‌Participe dos eventos promovidos pela Athon!
        </p>
        @Html.ActionLink("Encontre um Evento", "EncontreEvento", "Exibicao", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>

<p></p>
<div class="content-section-heading text-center">
    <h1 class="mb-5">Próximos Eventos</h1>
</div>


<div class="row text-center">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Imagens/Sietec.png" alt="...">
            <div class="caption">
                <h3>Eventos 1</h3>
                <p>Descrição breve sobre o evento, informando as datas da sua realização. O participante é direcionado para a página que contém a descrição completa do evento e das palestras. Permitirá o cadastramento e a confirmação de cadastro efetuado na(s) palestra(s) interessada(s) (caso o evento já esteja disponível). Terá a opção de ser direcionado para a página do palestrante para conhecer o seu perfil e visitar suas redes sociais disponíveis.</p>
                <p><a href="#" class="btn btn-primary btn-xl rounded-pill mt-5" role="button">Cadastra-se</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Imagens/Financ.jpg" alt="...">
            <div class="caption">
                <h3>Eventos 2</h3>
                <p>Descrição breve sobre o evento, informando as datas da sua realização. O participante é direcionado para a página que contém a descrição completa do evento e das palestras. Permitirá o cadastramento e a confirmação de cadastro efetuado na(s) palestra(s) interessada(s) (caso o evento já esteja disponível). Terá a opção de ser direcionado para a página do palestrante para conhecer o seu perfil e visitar suas redes sociais disponíveis.</p>
                <p><a href="#" class="btn btn-primary btn-xl rounded-pill mt-5" role="button">Cadastra-se</a></p>
            </div>
        </div>
    </div>


    <div class=" col-md-4">
        <div class="thumbnail">
            <img src="~/Imagens/DirHumanos.jpg" alt="...">
            <div class="caption">
                <h3>Eventos 3</h3>
                <p>Descrição breve sobre o evento, informando as datas da sua realização. O participante é direcionado para a página que contém a descrição completa do evento e das palestras. Permitirá o cadastramento e a confirmação de cadastro efetuado na(s) palestra(s) interessada(s) (caso o evento já esteja disponível). Terá a opção de ser direcionado para a página do palestrante para conhecer o seu perfil e visitar suas redes sociais disponíveis.</p>
                <p><a href="#" class="btn btn-primary btn-xl rounded-pill mt-5" role="button">Cadastra-se</a></p>
            </div>
        </div>
    </div>
</div>

<!--Carrosel-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Imagens/_webinar1.jpg" alt="...">
            <div class="carousel-caption">
                <h5>Palestra 1</h5>
            </div>
        </div>
        <div class="item">
            <img src="~/Imagens/_webinar2.jpg" alt="...">
            <div class="carousel-caption">
                <h5>Palestra 2</h5>
            </div>
        </div>
        <div class="item">
            <img src="~/Imagens/_webinar3.jpg" alt="...">
            <div class="carousel-caption">
                <h5>Palestra 3</h5>
            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Fim Carrosel-->

<div class="row text-center">
    <div class="col-md-12">
        <h2>Rever um evento ou Palestra?</h2>
        <p>O usuário cadastradao será direcionado para a página onde acessa uma playlist de vídeos de palestras do evento, através de um canal do YouTube.</p>
        <p><a class="btn btn-primary btn-xl rounded-pill mt-5" href="https://www.youtube.com/watch?v=qBJ9Vo-8DEI" target="_blank">Clique Aqui &raquo;</a></p>
    </div>
</div>


