@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" background-image: linear-gradient(#0026ff, #ff00dc);">
    <div class="masthead">
        <h1>Athon Eventos</h1>
        <p class="lead">
            Amplie seus conhecimentos e impulsione sua carreira! ‌Participe dos eventos promovidos pela Athon!
        </p>
        <p><a href="https://athonedu.com.br/" class="btn btn-primary btn-lg">Encontre um evento &raquo;</a></p>

    </div>

</div>

<p></p>
<div class="content-section-heading text-center">
    <h1 class="mb-5">Próximos Eventos</h1>
</div>


<div class="row text-center">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Imagens/Sietec.png" alt="...">
            <div class="caption">
                <h3>Eventos 1</h3>
                <p>Descrição breve sobre o evento, informando as datas da sua realização. O participante é direcionado para a página que contém a descrição completa do evento e das palestras. Permitirá o cadastramento e a confirmação de cadastro efetuado na(s) palestra(s) interessada(s) (caso o evento já esteja disponível). Terá a opção de ser direcionado para a página do palestrante para conhecer o seu perfil e visitar suas redes sociais disponíveis.</p>
                <p><a href="#" class="btn btn-primary btn-xl rounded-pill mt-5" role="button">Cadastra-se</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Imagens/Financ.jpg" alt="...">
            <div class="caption">
                <h3>Eventos 2</h3>
                <p>Descrição breve sobre o evento, informando as datas da sua realização. O participante é direcionado para a página que contém a descrição completa do evento e das palestras. Permitirá o cadastramento e a confirmação de cadastro efetuado na(s) palestra(s) interessada(s) (caso o evento já esteja disponível). Terá a opção de ser direcionado para a página do palestrante para conhecer o seu perfil e visitar suas redes sociais disponíveis.</p>
                <p><a href="#" class="btn btn-primary btn-xl rounded-pill mt-5" role="button">Cadastra-se</a></p>
            </div>
        </div>
    </div>


    <div class=" col-md-4">
        <div class="thumbnail">
            <img src="~/Imagens/DirHumanos.jpg" alt="...">
            <div class="caption">
                <h3>Eventos 3</h3>
                <p>Descrição breve sobre o evento, informando as datas da sua realização. O participante é direcionado para a página que contém a descrição completa do evento e das palestras. Permitirá o cadastramento e a confirmação de cadastro efetuado na(s) palestra(s) interessada(s) (caso o evento já esteja disponível). Terá a opção de ser direcionado para a página do palestrante para conhecer o seu perfil e visitar suas redes sociais disponíveis.</p>
                <p><a href="#" class="btn btn-primary btn-xl rounded-pill mt-5" role="button">Cadastra-se</a></p>
            </div>
        </div>
    </div>


</div>
